#land{
  width: 100%;
  min-height: 80vh;
  background-image: url('../images/bikers.jpg');
  background-size: cover;
  color: #FFFFFF;
  text-align: center;

  .box{
    margin: 100px auto;
  }

  .search-club{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 0.5em;
  }
}

#signup{
  //text-align: center;
  background-color: #f6f6f4;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 1em;
}